@font-face{
    font-family: 'Nunito';
    src: url(../fonts/Nunito/Nunito-Black.ttf);
    font-weight: 900;
}

@font-face{
    font-family: 'Nunito';
    src: url(../fonts/Nunito/Nunito-Bold.ttf);
    font-weight: 700;
}

@font-face{
    font-family: 'Nunito';
    src: url(../fonts/Nunito/Nunito-Medium.ttf);
    font-weight: 500;
}

@font-face{
    font-family: 'Nunito';
    src: url(../fonts/Nunito/Nunito-Regular.ttf);
    font-weight: 400;
}